aioboto3
aiosqlite
alembic
daily-python
einops
einops_exts
fastapi
Flask 
Flask-Admin 
Flask-SQLAlchemy
librosa
litellm
munch
nemo_text_processing
nltk
numpy
openai
openai-whisper
phonemizer
pyannote.core
pyannote.audio
pylru
pytest
pytest-mock
python-multipart
requests
scipy
setuptools
sqlalchemy
sqlalchemy_utils
torch
torchvision
torchaudio
transformers
uvicorn[standard]
websockets
