alembic
aiosqlite
aioboto3
asgiref
asyncpg
azure-cognitiveservices-speech
Cython
databases
daily-python
google-cloud-texttospeech
passlib
propelauth_fastapi
python-jose==3.3.0
openai
nemo_toolkit['all']
pytest
pytest-mock
einops
einops_exts
fastapi
librosa
munch
nemo_toolkit[tts]
nltk
numpy
openai
phonemizer
pylru
python-multipart
requests
setuptools
scipy
sqlalchemy
sqlalchemy_utils
torch
torchaudio
transformers
uvicorn[standard]
websockets